.details {
    display: flex;
    margin: 20px;
}

.title {
    display: flex;
    align-items: center
}

.text {
    padding: 20px;
}

@media screen and (max-width:630px) {
    .details {
        display: block;
    }

    .text {
        padding-left: 0;
        padding-right: 0;
    }

    .title {
        display: block;
    }
}